.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}

.card {
  background-color: #fff;
  padding: 0.2 rem;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 7px 0px rgba(133,123,133,1);
  -moz-box-shadow: 4px 4px 7px 0px rgba(133,123,133,1);
  box-shadow: 4px 4px 7px 0px rgba(133,123,133,1);
}
.love{
  color: red;
}